<mat-card class="balance">
  <h2 class="mat-h2 balance-title">Введите Ваши данные</h2>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" #firstName2>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия" #lastName2>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Номер телефона" #telNumber2>
  </mat-form-field>

  <button (click)="searchUser(firstName2.value, lastName2.value, telNumber2 .value);"
          mat-raised-button
          color="accent">
    Подтвердить
  </button>
</mat-card>

<div *ngFor="let abonent of abonents">
  <div *ngIf="abonent.id === getId()">
    <mat-card class="balance">
      <h2 class="mat-h2 balance-title">Ваш аккаунт</h2>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Имя" [(ngModel)]="abonent.firstName" value={{ abonent.firstName }} disabled>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Фамилия" [(ngModel)]="abonent.lastName" value={{ abonent.lastName }} disabled>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Баланс" [(ngModel)]="abonent.cashBalance" value={{ abonent.cashBalance }} disabled>
      </mat-form-field>

    </mat-card>
  </div>
</div>
