<mat-card  *ngIf="abonent">
  <h2 class="mat-h2">{{ abonent.name }} Редактировать №{{abonent.id}}</h2>

  <button mat-button (click)="goBack()">Назад</button>
  <button mat-button color="primary" (click)="goSave()">Сохранить</button>

  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" [(ngModel)]="abonent.firstName" value={{abonent.firstName}}>
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия" [(ngModel)]="abonent.lastName" value={{abonent.lastName}}>
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Мобильный номер" [(ngModel)]="abonent.telNumber" value={{abonent.telNumber}}>
  </mat-form-field>

  <br>

  <mat-form-field *ngIf="[(abonent.cashBalance)] < 0" class="example-full-width">
    <input matInput placeholder="Баланс" [(ngModel)]="abonent.cashBalance" value={{abonent.cashBalance}} disabled>
  </mat-form-field>

  <div *ngIf="abonent.active">
    <button mat-button (click)="setAbonentStatus(false)" color="warn">Заблокировать</button>
  </div>

  <div *ngIf="!abonent.active">
    <button mat-button (click)="setAbonentStatus(true)" color="primary">Разблокировать</button>
  </div>
</mat-card>

